body{
    background-color: rgb(211, 211, 211); 
    font-family: Roboto;
    white-space: nowrap;
    font-size: larger;
    color: rgb(47, 43, 59);
}

.line-style{
    margin-top: 0px;
    height: 15px;
    width: 100%;
    background: radial-gradient(circle, rgb(140, 180, 197) 0%, rgb(115, 140, 126) 70%, rgb(99, 89, 136) 100%);
}

.button-style{
    cursor: pointer;
    background: radial-gradient(circle, rgb(140, 180, 197) 0%, rgb(115, 140, 126) 70%, rgb(99, 89, 136) 100%);
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: 3px;
    padding: 5px 10px 5px 10px;
    color: rgb(47, 43, 59);
    margin: 5px 15px 1px 0px;
}

.text-style{
    font-size: larger;
    font-weight: bold;
    color: rgb(47, 43, 59);
}