body{
  background-color: #D3D3D3; 
}

#formulario{
  margin-top: 100px;
  margin-left: 500px;
  margin-right: -1x;
}

legend{
  font-style: bold;
  font-family: ”Times New Roman”;    
}
  
small{
  font-style:bold;
  font-family: ”Times New Roman”;
}

.meio{
  border-radius: 25px;
}

div {
  width:350px;
}

.centro{
  text-align: center;
}